/* Heading */
h1{
 text-align:center;
}

/* Label */
.contenedor-formulario label{
 text-align:center;
}

/* Button */
.contenedor-formulario button{
 padding-bottom:10px;
}

/* Body */
body{
 text-align:center;
}

