/* Heading */
h1{
 text-align:center;
 background-color:rgba(0,0,0,0);
 transform:translatex(0px) translatey(0px);
 color:#000000;
 font-size:36px;
 font-style:normal;
 text-transform:none;
}

/* Body */
body{
 background-color:transparent;
 border-color:#000000;
 border-style:solid;
 border-width:5px;
 width:610px;
 height:330px;
 position:relative;
 left:0px;
}

/* Button */
.contenedor-formulario button{
 transform:translatex(0px) translatey(8px);
}

/* Label */
.contenedor-formulario label{
 position:relative;
 top:5px;
}
